<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.finish {
				text-decoration: line-through;
			}
		</style>
		
	</head>
	<body>
		<div id="app">
			<input id="todo" type="text" v-model="msg" @keyup.enter.exact="addTodo" /> 
			<button id="add" @click="addTodo">添加</button>
			<ul>
				<li v-for="(item, index) in todo" v-bind:key="index" :class="{finish:item.isFinished}" @click="finishTodo(item)">{{item.task}}</li>
			</ul>
			
			
		</div>
		
		
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					msg:"",
					todo:[],
					finish:"finish"
				},
				methods: {
					addTodo: function() {
//						console.log(this.msg)
//						console.log(this.todo)
						if(this.msg == "") {
							alert("请输入")
						} else {
							this.todo.push({task:this.msg, isFinished: false});
							this.msg = "";
						}	
					},
					
					finishTodo: function(item) {
						item.isFinished = true;
					}
				}
			})
		</script>
	</body>
</html>
